**Chance of Admission for Higher Studies**

*Here we are predicting the chances of admission of a student to a Graduate program based on certian criterion*

In [1]:
#import library
import pandas as pd

In [2]:
#import data
admission = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Admission%20Chance.csv')

In [3]:
admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [5]:
#defining target (y) and feature (x)
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [9]:
y = admission['Chance of Admit ']
x = admission[['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [10]:
x.shape

(400, 8)

In [11]:
y.shape

(400,)

In [12]:
# train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,random_state=2529)

In [16]:
# Slection of model
from sklearn.linear_model import LinearRegression
model = LinearRegression ()

In [17]:
#Train 0r Fit model
model.fit(x_train,y_train)

LinearRegression()

In [18]:
model.intercept_

-1.313927676963856

In [19]:
model.coef_

array([ 0.00017307,  0.00196337,  0.00422169,  0.00739279, -0.00103725,
        0.02017428,  0.09670386,  0.02178675])

In [21]:
# Predict Model
y_pred = model.predict(x_test)

In [22]:
y_pred

array([0.71736699, 0.75455082, 0.68697663, 0.68271551, 0.57127013,
       0.91254171, 0.90443071, 0.72494304, 0.79315949, 0.5974714 ,
       0.5970127 , 0.80847851, 0.54489033, 0.77396909, 0.87258665,
       0.66842412, 0.62024256, 0.67271868, 0.73502445, 0.84436251,
       0.63116625, 0.86042277, 0.82905922, 0.91672707, 0.68666542,
       0.63697134, 0.6161006 , 0.57945469, 0.52039044, 0.6156423 ,
       0.52665301, 0.76543793, 0.6986032 , 0.75827246, 0.62538368,
       0.53110664, 0.40483705, 0.86989056, 0.92349587, 0.7926284 ,
       0.71857394, 0.73633381, 0.70282204, 0.90593713, 0.80074302,
       0.81534319, 0.91800512, 0.86884325, 0.5884609 , 0.48491871,
       0.62601521, 0.62107436, 0.80489091, 0.46652188, 0.7154584 ,
       0.7436518 , 0.69426119, 0.63671683, 0.82907817, 0.66864585,
       0.64499352, 0.93457743, 0.66587621, 0.65608019, 0.73144018,
       0.69953521, 0.59884561, 0.91336371, 0.57755816, 0.90604589,
       0.57164735, 0.9269528 , 0.62494238, 0.71688709, 0.52919861,
       0.86134812, 0.60880572, 0.72642318, 0.66577872, 0.82272867,
       0.7231353 , 0.89814622, 0.67720924, 0.50045899, 0.75888336,
       0.64920587, 0.76902891, 0.57829858, 0.78916736, 0.67323219,
       0.68532473, 0.68480415, 0.91914928, 0.68225973, 0.65216008,
       0.64517797, 0.77500134, 0.6752606 , 0.76523301, 0.61219622])

In [23]:
#Model accuracy
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [24]:
mean_absolute_error (y_test,y_pred)

0.04504823079497952

In [25]:
mean_absolute_percentage_error(y_test,y_pred)

0.0793412291061142

In [26]:
mean_squared_error(y_test,y_pred)

0.0042806885779369435